NEXT_SHARP_PATH=/tmp/node_modules/sharp
NEXTAUTH_SECRET=mysecret27
NEXTAUTH_URL=https://lowstack.in
NEXTAUTH_URL_INTERNAL=https://lowstack.in


#auth
NEXT_DEFAULT_PASSWORD = ""
NEXT_PUBLIC_APP_URL=https://lowstack.in
PDF_WATERMARK=https://lowstack.in/_next/image?url=%2Fimg%2Flogs.png&w=750&q=75
DATABASE_URL=""


# AWS S3 / DigitalOcean Spaces Configuration
S3_ENDPOINT_URL=""
S3_ACCESS_KEY_ID=""
S3_SECRET_ACCESS_KEY=""
S3_BUCKET_NAME="lowstack"
S3_REGION="sfo3"
S3_CDN_URL=""

#mailing
MJ_APIKEY_PUBLIC=
MJ_APIKEY_PRIVATE=

#payment
NEXT_PUBLIC_RAZORPAY_KEY_ID=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=


#GOOGLE AUTHENTICATION
GOOGLE_CLIENT_ID="4"
GOOGLE_CLIENT_SECRET=""
